haystacks_expanded/utils/cookies.json
data/*
.pytest_cache/*
src/haystacks_expanded/archive/*
tests/__pycache__/*
src/haystacks_expanded/__pycache__/*
src/haystacks_expanded/utils/__pycache__/*
*.DS_Storehaystacks_expanded/test_video.mp4
